@{
    ViewData["Title"] = "View Products";
}

<div class="text-center">
    <h1 class="display-4">View Product</h1>
    <p>User ID: @ViewData["UserId"]</p>
    <p>User Role: @ViewData["UserRole"]</p>
</div>