@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="width: auto">
    <p>User ID: @ViewData["UserId"]</p>
    <p>User Role: @ViewData["UserRole"]</p>
    <h1 class="display-1" style="font-weight:700">AgriEnergy</h1>
    <br/>
    <h1 class="display-6">Welcome @ViewData["UserFirstName"], to your gateway to sustainable agriculture and renewable energy solutions in South Africa.</h1>
</div>
<br />
<br />
<hr />
<br />
<br />
<div class="text-center">
    <h1 class="display-6" style="font-weight:600">What is What is AgriEnergy Connect?</h1>
    <br />
    <p class="accordion-body" style="font-size:1.4rem">Agri-Energy Connect is a visionary initiative aimed at fostering collaboration between the
        agricultural sector and green energy technology providers. Our platform serves as a digital ecosystem
        where farmers, green energy experts, and enthusiasts come together to innovate and promote sustainable practices.</p>
</div>
