@using Microsoft.AspNetCore.Identity
@using Agri_Energy_Connect.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="btn btn-danger" onclick="return customConfirm();">Logout</button>
        </form>
    </li>
}
</ul>

<script>
    function customConfirm() {
        return confirm('return confirm('Are you sure you want to log out ? ');
    }
</script>
